header span {
  font: 46px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 50%;
  top: 0;
  transform-origin: bottom center;
}


.char1 { transform: rotate(-50deg); }
.char2 { transform: rotate(-40deg); }
.char3 { transform: rotate(-30deg); }
.char4 { transform: rotate(-20deg); }
.char5 { transform: rotate(-10deg); }
.char6 { transform: rotate(0deg); }
.char7 { transform: rotate(10deg); }
.char8 { transform: rotate(20deg); }
.char9 { transform: rotate(30deg); }
.char10 { transform: rotate(40deg); }
.char11 { transform: rotate(50deg); }